<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Llacolen_SBOService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Llacolen_SBOService.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>Antonio-PC</value>
            </setting>
            <setting name="SQLType" serializeAs="String">
                <value>2014</value>
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value>soportevk</value>
            </setting>
            <setting name="CompanyDB" serializeAs="String">
                <value>LlacolenOficial</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="BatchServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="BatchDB" serializeAs="String">
                <value>BackupMipunto</value>
            </setting>
            <setting name="BatchUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="BatchPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="BatchType" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="BatchMySQLType" serializeAs="String">
                <value>5.3</value>
            </setting>
            <setting name="BatchMySQLPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="IntervaloEnSegundos" serializeAs="String">
                <value>30</value>
            </setting>
        </Llacolen_SBOService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
